{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>MAHALLAK</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" width="125px" alt="MAHALLAK"></a>
            </div>
            
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">login</a></li>
                    {% endif %}
                    <li><a href="{% url 'stores' %}">Stores</a></li>
                    <li><a href="{% url 'categories' %}">categories</a></li>
                    <li><a href="{% url 'products' %}">products</a></li>
                    <li><a href="{% url 'offers' %}">offers</a></li>
                    
                    <li><a href="{% url 'cart' %}"><ion-icon class="ion" name="cart-outline"></ion-icon></a></li>
                </ul>
                
            </nav>
        </div>
        
    </div>
    
    <div class="row">
<form action="{%  url 'customize' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}

    <div class="row-1">
        <div class="col-2">
            <label for="name">new store name</label>
            <input required placeholder="{{store.name}}" name="name" id="name">
        </div>
    </div>
    <div class="row-1">
        <div class="col-2">
            <label for="location">new store location</label>
            <input required  placeholder="{{store.location}}" name="location" id="location">
        </div>
    </div>
    
    
    <input required type="file" name="upload" accept="image/*">
    <button class="btn-primary"  type="submit">update</button class="btn-primary" >
    
</form>
</div>
<div class="row">
    <div class="col-3">
        <table border="1" class="table-dark">
            <thead>
                <tr>
                    <th>customer name</th>
                    <th>product name</th>
                    <th>product quantity</th>
                    <th>address </th>
                    <th>sent</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for ordered in orders %}
                <tr>
                    <td>{{ ordered.order.customer }}</td>
                    <td>{{ ordered.product.name }}</td>
                    <td>{{ ordered.quantity }}</td>
                    <td>{{ ordered.order.address }}</td>
                    <td><a href="{% url 'sent' id=ordered.id %}"><button class="btn-primary"  class="btn-primary">sent</button class="btn-primary" ></a></td>

                    
                </tr>
                {% endfor %}
        
        </table>
        </div>
<div class="col-3">
<table class="table-dark" border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>preview</th>
            <th>offer</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
            <td><img src="{{ product.image}}" style="width:100px"></td>
            {% if product.offer %}
            <td>{{ product.offer.discount }}%</td>
            {% else %}
            <td>0</td>
            {% endif %}
            <td><a href="{% url 'delete_product' id=product.id %}"><button class="btn-primary">delete</button></a></td>
        </tr>
        {% endfor %}

</table>
</div>
<a href="{% url 'new_item' %}"><button class="btn-primary" >add an item</button class="btn-primary" > </a>

</div>


</div>
</body>
</html>