{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>MAHALLAK</title>
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<form action="{%  url 'customize' %}" method="POST">
{% csrf_token %}
    <div class="row 1">
        <div class="col-2">
            <input required placeholder="{{ store.name }}" name="name">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <input required placeholder="{{ store.location }}" name="location">
        </div>
    </div>
    <button type="submit">update</button>
</form>
<form action="/addproduct" method="POST">
</form>
<a href="/mahallak/new_item" >new product</a>
<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>preview</th>
            <th>offer</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.category }}</td>
            <td><img src="{{ product.image.url }}"></td>
            {% if product.offer %}
            <td>{{ product.offer.discount }}%</td>
            {% else %}
            <td>0</td>
            {% endif %}
        </tr>
        {% endfor %}

</table>
</form>
</body>
</html>