{% load static %}

<!DOCTYPE html>
<html lang="en">


    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Mahallak</title>
       
        </head>
    <body>
        <div class="all">
        <div class="header">
            <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" width="125px" alt="MAHALLAK"></a>
                </div>
                
                <nav>
                    <ul> 
                        {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
                        <li><a href="{% url 'stores' %}">Stores</a></li>
                        <li><a href="{% url 'categories' %}">categories</a></li>
                        <li><a href="{% url 'products' %}">products</a></li>
                        <li><a href="{% url 'offers' %}">offers</a></li>
                        
                        <li><a href="#"><ion-icon class="ion" name="cart-outline"></ion-icon></a></li>
                    </ul>
                    
                </nav>
            </div>
           
        </div>
        </div>
        <section class="section1">
            <div class="form-box1">
                <div class="form-value">
                    <form method="POST">     
                        {%  csrf_token %}

                        <h2>register</h2>

                        <div class="inputbox1" style="border-bottom: none;">
                            {%if error %}
                            <p style="color:red">{{error}}</p>
                            {% endif %}
                        </div>

                        <div class="inputbox1">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="text" required placeholder=" " name="username">
                            <label for="">Username</label>
                        </div>      

                        <div class="inputbox1">
                            <ion-icon name="person-outline"></ion-icon>
                            <input type="email" required placeholder=" " name="email">
                            <label for="">Email</label>
                        </div>
                        <div class="inputbox1">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required placeholder=" " name="password">
                            <label for="">Password</label>
                        </div>
                        <div class="inputbox1">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" required placeholder=" "name="confirm password">
                            <label for=""> Confirm password</label>
                        </div>

                        <div style="margin: 30px 70px;">
                            <label for="">what type of user are you?:</label>
                            <input type="radio" name="type" id="customer" required value="c"><label for="customer">customer</label>
                            <input type="radio" name="type" id="merchant" required value="m"><label for="merchant">merchant</label>
                        </div>
                        <h4 style="margin: 30px 220px;">choose a bundle:</h4>
                        <div class="bundle"> 
                                           
                            <div>
                                <label for="free"><h2>free</h2><h1>no ad time</h1></label> 
                                <input type="radio" required name="bundle" id="free" value="free">
                            </div>
                            <div>  
                                <label for="small"> <h2>50$</h2><h1>1 hour of ads/day</h1></label>                          
                                <input type="radio" required name="bundle" id="small" value="small"> 
                            </div>
                             <div>  
                                <label for="large"><h2>100$ </h2><h1>2 hours of ads/day</h1></label>                         
                                <input type="radio" required name="bundle" id ="large" value="large">
                            </div>
                        </div>
                        <div class="inputbox" style="margin:30px 130px">
                            <ion-icon name="location-outline"></ion-icon>
                            <input type="text" required   placeholder=" " name="address">
                            <label for="">Address</label>
                        </div>
                    
                        <div class="forget">

                            
                        </div>
                        <button class="button2" type="submit">Register</button>
                        <div class="register">
                            <p>already have an account?<a href="{% url 'login' %}">Login</a></p>
                        </div>
                    </form>
                </div>

            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>
